@model StartmanSA.Models.Logs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Logs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Encarregado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Encarregado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MateriaPrima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MateriaPrima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeAlterada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeAlterada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaAlteracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaAlteracao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
