@model IEnumerable<StartmanSA.Models.Materiaprima>

@{
    ViewData["Title"] = "Matéria-Prima";
}

<h2>Matéria-Prima</h2>

<p>
    <a asp-action="Create">Criar Nova</a>
</p>

<form asp-controller="Materiaprima" asp-action="Index" method="get">
    <p>
        Nome: <input type="text" name="SearchString">
        <input type="submit" value="Filtrar" class="btn-primary" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeEstoqueMax)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeEstoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeEstoqueMax)
                </td>
                <td>
                    <a asp-action="Reposicao" asp-route-id="@item.Id">Repor</a> |
                    <a asp-action="Retirada" asp-route-id="@item.Id">Retirar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
